<h2>1st SOLUTION</h2>


<input class="form-control form-control-lg"
       style="width:100%"
       name="searchedTerm"
       type="form-control"
       typeof="searchedTerm"
       [(ngModel)]="searchedTerm"
       (ngModelChange)="search()"
       placeholder="Search the notes" />


<div class="row">
  <div class="col-sm-12">
    <hr />
    <app-add-note></app-add-note>
    <hr />
  </div>
</div>



<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <p *ngIf="loadedNotes.length < 1 && !isFetching">Loading...</p>
        <ng-container *ngIf="loadedNotes.length >= 1 && !isFetching">
          <tr *ngFor="let note of loadedNotes | paginate: {itemsPerPage:5, currentPage:p};">
            <td><pre>{{note}}</pre></td>
          </tr>
        </ng-container>


      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>

  </div>
</div>









