<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  <h2>Meet The Team </h2>
  <p>| Computer Science students | UCN | 2021 |</p>
  <br>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Adrian Mihai Dohot</h2>
          <p>I am confident in planning, leadership, and flexibility as my general go-to skills as they align with my personal hobbies. I have not had much in way of real IT work experience but I have managed to obtain some growth in different ways in different fields.</p>
          <p><b>Skills:</b>I am somewhat acquainted with C#, Java, and SQL. I have dabbled in Python, React, Flutter, Docker, and Boostrap. </p>
          <a href="https://www.linkedin.com/in/adrian-mihai-dohot-54245111b" target="_blank"><p class="button">LinkedIn</p></a>
          <a href="https://github.com/AlexanderADM" target="_blank"><p class="button2">GitHub</p></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Alanis Mirko</h2>
          <p>I find myself to be an open-minded person, ready to learn new things. I would like to learn more about web development as this is currently my interest area. I started to develop websites for smaller businesses.</p>
          <p><b>Skills:</b>I am familiar with working with HTML, CSS, C#, Java, and SQL. I have experience with designing UI and I am currently trying to learn JS.</p>
          <a href="https://www.linkedin.com/in/alanis-mirko-475238192" target="_blank"><p class="button">LinkedIn</p></a>
          <a href="http://alanismirko.great-site.net/" target="_blank"><p class="button2">Website</p></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Toms Vanders</h2>
          <p>I am an aspiring software developer that’s in the process of switching careers from a GIS Analyst/Cartographer to a Software Developer.</p>
          <p><b>Skills:</b>Mostly familiar with C#, Java, and SQL languages. Currently trying to gain a deeper knowledge of .NET, MSSQL, Azure, and JavaScript. I am familiar with Agile Methodology. I have good problem-solving, time management, and collaboration skills. </p>
          <a href="https://www.linkedin.com/in/toms-vanders/" target="_blank"><p class="button">LinkedIn</p></a>
          <a href="https://github.com/toms-vanders" target="_blank"><p class="button2">GitHub</p></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Mikas Kentra</h2>
          <p> I am 28 y.o. from Lithuania. I have 1,5 years of experience working as a software engineer. Always happy to learn new things and never taking my responsibilities lightly. </p>
          <p><b>Skills:</b>I am most familiar with the .NET environment and MSSQL. </p>
          <a href="https://www.linkedin.com/in/mikas-kentra/" target="_blank"><p class="button">LinkedIn</p></a>
        </div>
      </div>
    </div>




  </div>

</body>
</html>
