<div class="container">
  
  <button type="button" class="btn btn-primary text-center" (click)="show()">
    Add note
  </button>
  <style>
    .c {
      margin-top: 169px;
    }
  </style>
  <!-- The Modal -->
  <div class="modal c" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <!---<div class="form-group">

          <form #postForm="ngForm" (ngSubmit)="addNote()" >
                <div class="from-group">
               <textarea class="from-control"
                    id="content"
                    required
                    ngModel
                    name="content"
                    typeof="content"
                    [(ngModel)]="content"
                    placeholder="Add the note">
                  </textarea>
                  </div>
          <button
        class="btn btn-success" type="submit"
                  [disabled]="!postForm.valid">Add</button>
          </form>
                 
                
          
        </div>-->

        <form #notePost="ngForm" (ngSubmit)="addNote(notePost.value)">
          <div class="from-group">
            <input type="text"
                   name="content"
                   ngModel
                   placeholder="Add the note" />
            </div>
            <button type="submit">Add</button>
        </form>
       


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
