<h2>Search the notes</h2>

<!----
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onGetNotes()">
      Get Notes
    </button>
    <p *ngIf="loadedNotes.length < 1 && !isFetching">No notes available!</p>
    <ul class="list-group" *ngIf="loadedNotes.length >= 1 && !isFetching">
      <li class="list-group-item" *ngFor="let note of loadedNotes">
        <pre>{{note}}</pre>
      </li>
    </ul>
    <p *ngIf="isFetching && !error">Loading...</p>
    <div class="alert alert-danger" *ngIf="error">
      <h1>An Error Occurred!</h1>
      <p>{{ error }}</p>
    </div>
  </div>
</div>

  -->

  <input
         type="form-control"
         name="searchedTerm"
         typeof="searchedTerm"
         [(ngModel)]="searchedTerm"
         (ngModelChange)="search()"
         placeholder="Search the notes"
      />
<div class="cd-xs-12">
  <button class="btn btn-success">Add</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <p *ngIf="loadedNotes.length < 1 && !isFetching">Loading...</p>
      <ng-container *ngIf="loadedNotes.length >= 1 && !isFetching">
        <tr *ngFor="let note of loadedNotes | paginate: {itemsPerPage:10, currentPage:p};">
          <td><pre>{{note}}</pre></td>
        </tr>
      </ng-container>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>

  
