<h2>Search the notes</h2>


<input type="form-control"
       name="searchedTerm"
       typeof="searchedTerm"
       [(ngModel)]="searchedTerm"
       (ngModelChange)="search()"
       placeholder="Search the notes" />

<hr />
<app-add-note></app-add-note>
<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Notes</th>
      <th>Add to the text field</th>
    </tr>
  </thead>
  <tbody>
    <p *ngIf="loadedNotes.length < 1 && !isFetching">Loading...</p>
    <ng-container *ngIf="loadedNotes.length >= 1 && !isFetching">
      <tr *ngFor="let note of loadedNotes | paginate: {itemsPerPage:10, currentPage:p};">
        <td><pre>{{note}}</pre></td>
        <td><button type="button" class="btn btn-success text-center">Add</button></td>
      </tr>
    </ng-container>


  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>

<h1>Your notes are displayed here</h1>
<p>Add a field where the notes which user clicks display</p>

